#myModal {
    margin-top: 5%;
}

.register_a {
    padding: 0;
    float: right;
    height: 30px;
}

.register_a a {
    color: #74485f;
    margin-top: 5px;
    font-size: 13px;
    font-family: 幼圆;
    align-content: center;
}

#left_btn .write-btn {
    width: 100px;
    height: 40px;
    line-height: 24px;
    margin: 5px 0px 20px 43px;
    border-radius: 20px;
    font-size: 15px;
    opacity:0.9;
    color: #fff;background-color: #1c96ea
}

#left_btn .write-btn:focus,
#left_btn .write-btn:hover {
    color: #fff;
    background-color: #2425ec
}